{% extends "base.html" %}
{% block title_head %}
Libros creados
{% endblock title_head %}
{% block h1_header %}{% endblock h1_header %}
{% block main %}

{% if libros %}
<div class="book-gallery">
    {% for libro in libros %}
        <div class="book-item">
            {% if libro.portada %}
                <img src="{{ libro.portada.url }}" alt="" class="book-cover" style="width:200px; height:auto;">
            {% else %}
                <img src="" alt="portada" class="book-cover" style="width:200px; height:auto;">
            {% endif %}
            <div class="book-options">
                <a href="{% url 'ver_libro' libro.id %}">Ver</a> |
                <a href="{% url 'editar_libro' libro.id %}">Editar</a> |
                <a href="{% url 'eliminar_libro' libro.id %}">Eliminar</a>
            </div>
        </div>
    {% endfor %}
</div>
{% else %}
    <div class="nolibros">
        <p>No hay libros registrados.</p>
    </div>
{% endif %}

{% endblock main %}



